<h2>Detalles del Lugar</h2>

<form action="/places/{{_id}}/edit" method="GET">
    <label for="edit-btn">
        <input id="edit-btn" type="submit" value="Editar Lugar">
    </label>
</form>
<br>

<form action="/places/{{_id}}/delete" method="POST">
    <label for="delete-btn">
        <input id="delete-btn" type="submit" value="Borrar Lugar">
    </label>
</form>
<br>

<div>
    <label>
        Name :
        <span>{{place.name}}</span>
    </label>
</div>

<div>
    <label>
        Descripción :
        <span>{{place.description}}</span>
    </label>
</div>

<div>
    <label>
        Imagen :
        <span>{{place.image}}</span>
    </label>
</div>

<div>
    <label>
        Latitud :
        <span>{{place.location.coordinates.[0]}}</span>
    </label>
</div>

<div>
    <label>
        Longitud :
        <span>{{place.location.coordinates.[1]}}</span>
    </label>
</div>

<div>
    <label>
        Nivel :
        <span>{{place.level}}</span>
    </label>
</div>

<div>
    <label>
        Materiales :
        <span>{{place.material}}</span>
    </label>
</div>

<div>
    <label>
        Acceso :
        <span>{{place.access}}</span>
    </label>
</div>

<div>
    <label>
        Parking :
        <span>{{place.parking}}</span>
    </label>
</div>

<div>
    <label>
        Tipo :
        <span>{{place.type}}</span>
    </label>
</div>
<form action="/reviews/new-comment/{{place.id}}" method="POST">
    <div>
        <label>
            comentarios :
            <input type="text" name="comment">
        </label>
        <label for="new-comment">
            <input id="new-comment" type="submit" value="Comentar">
        </label>
    </div>
</form>


{{#each reviews}}
<h6>{{comment}}</h6>
{{/each}}