<h2>Detalles del Lugar</h2>

<form action="/places/{{_id}}/edit" method="POST">
    <label for="edit-btn">
        <input id="edit-btn" type="submit" value="Editar Lugar">
    </label>
</form>
<br>

<form action="/places/{{_id}}/delete" method="POST">
    <label for="delete-btn">
        <input id="delete-btn" type="submit" value="Borrar Lugar">
    </label>
</form>
<br>

<div>
    <label>
        Name :
        <span>{{name}}</span>
    </label>
</div>

<div>
    <label>
        Descripción :
        <span>{{description}}</span>
    </label>
</div>

<div>
    <label>
        Imagen :
        <span>{{image}}</span>
    </label>
</div>

<div>
    <label>
        Latitud :
        <span>{{location.coordinates.[0]}}</span>
    </label>
</div>

<div>
    <label>
        Longitud :
        <span>{{location.coordinates.[1]}}</span>
    </label>
</div>

<div>
    <label>
        Nivel :
        <span>{{level}}</span>
    </label>
</div>

<div>
    <label>
        Materiales :
        <span>{{material}}</span>
    </label>
</div>

<div>
    <label>
        Acceso :
        <span>{{access}}</span>
    </label>
</div>

<div>
    <label>
        Parking :
        <span>{{parking}}</span>
    </label>
</div>

<div>
    <label>
        Tipo :
        <span>{{type}}</span>
    </label>
</div>

