<h1>{{user.username}}</h1>
<img src="{{user.image}}" class="img-thumbnail" alt="profile photo">
<p>{{user.email}}</p>
<p>{{user.level}}</p>
<p>{{user.biographyl}}</p>
<p>{{user.role}}</p>
<form action="/auth/logout" method="POST">
    <button>cerrar sesion</button>
</form>
{{#if ./isAdmin}}
<form action="/user/{{user.id}}/delete" method="POST">
    <button>eliminar</button>
</form>
{{/if}}
{{#if ./isAdmin}}
<form action="/user/{{user.id}}/edit" method="GET">
    <button>editar</button>
</form>
{{/if}}
