<h1>{{user.username}}</h1>

<p>{{user.email}}</p>
<p>{{user.level}}</p>
<p>{{user.biographyl}}</p>
<p>{{user.role}}</p>

{{#if ./isAdmin}}
<form action="/user/{{user.id}}/delete" method="POST">
    <button>eliminar</button>
</form>
{{/if}}
{{#if ./isAdmin}}
<form action="/user/{{user.id}}/edit" method="GET">
    <button>editar</button>
</form>
{{/if}}

