<h2>{{username}}</h2>

<form action="/user/{{_id}}/edit" method="POST" enctype="multipart/form-data">

    <input type="submit" value="Guardar Edición">

    <div>
        <label>
            Nombre :
            <input type="text" name="name" value="{{username}}">
        </label>
    </div>

    <div>
        <label>
            email :
            <input type="email" name="email" value="{{email}}">
        </label>
    </div>

    <div>
        <label>
            biografia :
            <input type="text" name="biography" value="{{biography}}">
        </label>
    </div>
    <div>
        <label>
            Nivel :
            <input type="text" name="level" value="{{level}}">
        </label>
    </div>

    <div>
        <label>
            Materiales :
            <input type="text" name="climbType" value="{{climbType}}">
        </label>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="place-image-input-label">Image</span>
        <input id="place-image-input" type="file" name="imageFile" class="form-control" placeholder="Place image"
            aria-label="Placeimage" aria-describedby="place-image-input-label">
    </div>
</form>
